*{
    box-sizing: border-box;
}
body{
     margin: 0;
    padding: 0;
    background-color:#363636;}
.text{
 border: 0px solid black;   
    width: 350px;
    height: 50px;
    margin-left: 810px;
    margin-top: 70px;
    text-align: center;
}
.a{
    font-size: 54px;
    font-style: italic;
    color: brown;
}
.resim{
    border: 1px solid black;
     width: 1240px;
    height: 750px;
    margin: auto;
    margin-top: 145px;
    margin-bottom: 145px;
}
.resim img{
     width: 1240px;
    height: 750px;
    object-fit: cover;
    
}